<div class="products">
  <div class="products_container">

  <!-- Product -->
  <div class="product grid-item hot" *ngFor="let product of products">
      <div class="product_inner">
        <div class="product_image">
          <img src="{{product.image}}" alt="">
          <div class="product_tag">hot</div>
        </div>
        <div class="product_content text-center">
          <div class="product_title"><a href="product.html">{{product.name}}</a></div>
          <div class="product_price">{{product.price}}</div>
          <div class="product_button ml-auto mr-auto trans_200"><a href="#">add to cart</a></div>
        </div>
      </div>
    </div>
  </div>

</div>
