<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let product of products">
      <div class="card" 
      [ngClass]="
        {
          'active menu-hover': isShow
        }
      "
      [style.color]="product.status ? 'green' : 'blue'"
      >
      <button (click)="changeClass()">Change Class</button>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.status}}</p>
          <a href="#" class="btn btn-primary" (click)="productDetail(product)">Detail</a>
          <button class="btn btn-danger" (click)="removeProduct(product)">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-product-detail [data]="selectedProduct"></app-product-detail>