<div class="album py-5 bg-light">
  <div class="container">
    <div class="text-center" *ngIf="selectedProduct">
      {{selectedProduct.name}}
      <p class="card-text">{{selectedProduct.desc}}</p>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card mb-4 shadow-sm">
          <img src="{{product.img}}" alt="{{product.name}}" class="img-fluid">

          <div class="card-body"
            [ngClass]="setClass()">
            <h2>{{product.name}}</h2>
            <p class="card-text">{{product.description}}</p>
            <p class="card-text">Tình trạng: {{ product.status == 1 ? 'Còn hàng' : 'Hết hàng'}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="detailProduct(product)">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="deleteProduct(product)">Delete</button>
                <button (click)="clickMe()"class="btn btn-default">Click me</button>
              </div>
            </div>
          </div>

        </div>
      </div>
      
    </div>
  </div>
</div>
<div *ngIf="selectedProduct">
  <app-product-detail [product]="selectedProduct"></app-product-detail>

</div>
<app-add-product></app-add-product>