<div class="container">
  <div class="row">
    <div class="col-3" *ngFor="let product of products">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary" (click)="detailProduct(product)">View</a>
          <button class="btn btn-danger" (click)="removeProduct(product)">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="selectedProduct">
    {{selectedProduct.name}}
</div>
